<!--<nav aria-label="breadcrumb" id="breadcrumbNAV">
  &lt;!&ndash;<a class="navbar-brand" href="#">
    <img src="logo.png" alt="">
  </a>&ndash;&gt;
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Welcome to SKOOL!</li>
  </ol>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNAV">
  <a class="navbar-brand" routerLink="/teacher">Welcome to SKOOL!</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/teacher">Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student">Student</a>
      </li>
    </ul>
  </div>
</nav>




<router-outlet></router-outlet>
